<%# <h1 class='text-center'>I want my JS here only</h1> %>


<div class="container">
    <div class="row">
        <div class="col">
            <p id="notice">
                <%= notice %>
            </p>
            <h1>Users</h1>
            <%= link_to 'New User' , new_user_path , class: "btn btn-outline-dark" , data: {bs_toggle: "modal" ,
                bs_target: "#newUserModal" ,remote: true }%>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Address</th>
                            <th>Contact</th>
                            <th colspan="3">Actions</th>
                        </tr>
                    </thead>

                    <tbody id="usersTable">
                        <% @users.each do |user| %>
                            <%= render 'user_row' , user: user %>
                        <% end %>
                    </tbody>
                </table>

                <div class="container">
                    <!-- Modal -->
                    <div class="modal fade" id="newUserModal" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Create New User</h4>
                                    <button type="button" class="close" data-bs-dismiss="modal">&times;</button>

                                </div>
                                <div id="newUserForm">
                                </div>
                            </div>
                        </div>

                    </div>

                    <%# edit users modal %>
                        <div class="container">
                            <!-- Modal -->
                            <div class="modal fade" id="editUserModal" role="dialog">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title">Edit User </h4>
                                            <button type="button" class="close" data-bs-dismiss="modal">&times;</button>

                                        </div>
                                        <div id="editUserForm">
                                        
                                        </div>

                                    </div>
                                </div>

                            </div>


                        </div>


                        <%# Show user modal %>
                        <%# edit users modal %>
                        <div class="container">
                            <!-- Modal -->
                            <div class="modal fade" id="showUserModal" role="dialog">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title">User Details</h4>
                                            <button type="button" class="close" data-bs-dismiss="modal">&times;</button>

                                        </div>
                                        <div id="showUserDetails">
                                        </div>

                                    </div>
                                </div>

                            </div>


                        </div>
                </div>
        </div>

